<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-default" role="navigation">
      <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Verwin Technologies</a>
      
    </div>
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
          <li class="active" *ngIf='isDisplay' ><a>Welcome {{loginUserName}}</a></li>

          <li class="active" *ngIf='isDisplay' ><a routerLink='/dashBoard'>Home</a></li>
        <li *ngIf='isDisplay'><a href="#">About Us</a></li>
                

        <!--<button type="submit" *ngIf='isDisplay' (click)='logOut()' class="btn btn-primary">LogOut</button>-->
        <li *ngIf='isDisplay' ><a  routerLink='/' (click)='logOut()'>LogOut</a></li>
        <li *ngIf='!isDisplay' ><a routerLink='/register' >Register</a></li>
        <li *ngIf='!isDisplay' ><a routerLink='/' >Login</a></li>
  
        
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
      </div><!-- /.container-collapse -->
  </nav>
  
 
